<li [ngClass]="{
                  'list-group-item':true,
                  'list-group-item-success':appareilStatus==='allumé',
                  'list-group-item-danger':appareilStatus==='éteint'

}">
  
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
  <a [routerLink]="[id]">Détail</a>
  <button class="btn btn-success" 
  [disabled]="appareilStatus=='allumé'"           
  (click)="onSwitchOn()" > allumer</button>
  <button class="btn btn-danger"
  [disabled]="appareilStatus=='éteint'"   
  (click)="onSwitchOff()" > Eteindre</button>
</li>